@import 'style/_variables.scss';
@import 'style/_mixins.scss';

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  color: $gold;
  ol {
    padding: 0;
  }
}