@import 'style/_variables.scss';
@import 'style/_mixins.scss';

.faq {
  color: $yellow;
  background: $black;
  padding: 0 0 40px 0;
  h2 {
    margin-block-start: 6px;
    margin-block-end: 20px;
  }
  a {
    @include smoothness;
    color: $red;
    &:hover {
      color: $pink;
    }
  }
  .question {
    margin: 20px 0 40px;
  }
}

