@import 'style/_variables.scss';
@import 'style/_mixins.scss';

.hero {
  background: url(../../../img/hero-darkened.jpg);
  background-position: top center;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $pink;
  h1 {
    color: $yellow;
    margin-bottom: -20px;
  }
  h2 {
    color: $gold;
  }
  svg {
  }
}