@import 'style/_variables.scss';
@import 'style/_mixins.scss';

.footer-wiggle {
  width: 100%;
  margin-top: -3.4375vw;
  margin-bottom: -5px;
  @include noSelect;
}

.footer {
  height: auto;
  background: $black; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1;
  @include smoothness;
  .footer-logo {
    font-family: bayard;
    font-size: 3rem;
    @include smoothness;
    &:hover {
      cursor: pointer;
    }
  }
  a {
    color: white;
    @include smoothness;
    &:hover {
      // color: $green;
    }
  }
  svg {
    fill: white;
    height: 30px;
    width: 30px;
    margin-right: 1em;
    @include smoothness;
    &:hover {
      // fill: $green;
    }
  }
} 

.footer-section {
  margin-left: 75px;
  padding-inline-start: 0;
}

.footer-section-main {
  padding: 2em;
  display: flex;
  flex-direction: column;
  p + p {
    margin-top: 0;
    margin-bottom: 1em;
  }
}

.footer-label {
  margin-top: 75px;
  font-weight: 700;
  margin-bottom: 0;
  color: $white;
}

.footer-top {
  height: 200px;
  display: grid;
  padding: 0 40px;
  grid-template-columns: repeat(4, auto);
  margin-bottom: 100px;
}

.footer-social-links {
  a:last-child svg {
    margin: 0;
  } 
}

@media only screen and (max-width: 840px) {
  .footer-section-main {
    grid-column: span 3;
    align-items: center;
  }
  .footer-top{
    height: 400px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }
  .footer-bottom {
    p:nth-child(2){
      left: auto;
      right: 20px;
    }
  }
}

@media only screen and (max-width: 540px) {
  .footer-section-main {
    grid-column: 1;
  }
  .footer-section {
    margin-left: 0;
  }
  .footer-label {
    margin-top: 20px;
  }
  .footer-top{
    height: 800px;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  .footer-bottom {
    display: flex;
    height: auto;
    flex-direction: column-reverse;
    p {
      position: relative !important;
      flex: 1;
      left: auto !important;
      right: auto !important;
    }
  }
  ol {
    padding-inline-start: 0;
  }
}