@import 'style/_variables.scss';
@import 'style/_mixins.scss';

.destinations {
  color: $yellow;
  background: $black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  h1 {
    font-size: 10vw;
  }
  .destination-arrow {
    color: $gold;
    height: 6em;
    padding: 0 1em;
    width: 5em;
  }
}

@media only screen and (max-width: 1024px) {
  .destinations {
    flex-direction: column;
    h1 {
      font-size: 8em;
    };
    svg {
      transform: rotate(90deg);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .destinations {
    h1 {
      font-size: 6em;
    };
  }
}