/*
 * Typography
 *
 * Website-wide text styling
 *
 */

@import '_variables.scss';
@import '_mixins.scss';
//Crimson Pro and Text
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Crimson+Text:ital,wght@0,400;0,700;1,400&family=DM+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'Bayard';
  src: url('../fonts/BAYARD-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BAYARD-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BAYARD-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/BAYARD-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}

* {
	font-size: inherit;
	font-weight: inherit;
  color: inherit;
  vertical-align: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

h1,  h2,  h3,  h4,  h5,  h6 {
	margin: 0px;
}

p {
  font-family: 'Crimson Text', serif;
  margin: 0px;
  font-size: 20px; 
}

p + p {
	margin-top: .75em;
}

p + h3 {
  margin-top: 2em;
}

li + li {
  margin-top: .5em;
}

ul {
  font-family: 'Crimson Text', serif;
  padding-left: 2em;
  font-size: 20px;
  margin-bottom: 2em;
  margin-top: 1em;
}

ul ul {
  padding-left: 0;
}

h1 {
  font-size: 10rem;
  font-family: 'bayard', sans-serif;
  span{
    font-size: .57em;
    margin: -.05em;
  }
}

h2 {
  font-size: 5rem;
  font-family: 'bayard', sans-serif;
  line-height: .9em;
}

h3 {
  font-size: 2rem;
  font-family: 'Crimson Pro', serif;
  line-height: .9em;
  margin-bottom: .425em;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 30vw;
  }
  h2 {
    font-size: 15vw;
  }
}