/*
 * VARIABLES
 *
 * Global sizes and colors that can be used in every component
 *
 */

 $bobby: "bobby", "times new roman", serif;
 $source-sans: "Source Sans Pro", "system-ui",sans-serif;
 $korolev: "korolev", sans-serif;
 $montserrat: "montserrat", sans-serif;
 $nexa: "nexa", sans-serif;
 
 
 /* ============================================================ *\
 |* Colors
 \* ============================================================ */
 
 $white:            #FFF;
 $maroon:           #692116;
 $red:              #B83320;
 $pink:             #F79892;
 $yellow:           #E59941;
 $gold:             #B76F1D;
 $brown:            #4D2B09;
 $black:            #000;