 /*
 * App Style
 *
 * The base style for the application.
 *
 */
 @charset "utf-8/index";

 @import '_base.scss';
 @import '_variables.scss';
 @import '_typography.scss';

@-webkit-keyframes fontfix {
  from { opacity: 1; }
  to { opacity: 1; }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes party {
  0%   {fill: $pink;}
  50%   {fill: $red;}
  100%   {fill: $pink;}
}

@-moz-keyframes party {
  0%   {fill: $pink;}
  50%   {fill: $red;}
  100%   {fill: $pink;}
}

/* Standard syntax */
@keyframes party {
  0%   {fill: $pink;}
  50%   {fill: $red;}
  100%   {fill: $pink;}
}

::selection {
  background: $pink; /* WebKit/Blink Browsers */
}

.jf {
  position: absolute;
  height: 56px;
  margin-top: 40px;
  fill: #3D3D3D;
}

.jf:hover {
  -webkit-animation: party 2s;
  -moz-animation: party 2s;
  animation: party 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  mix-blend-mode: normal;
}

  p { 
    margin-block-start: 0;
    margin-block-end: 0;
  }



  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .page {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 90px);
  }

  .page-content {
    max-width: 500px;
    margin: 0 20px;
  }